<h1>Add Dishes</h1>
<%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %><br>
<%= link_to "Delete Restaurant", restaurant_path(@restaurant.id), data: {
                    turbo_method: :delete} %>
